{% extends "base.html" %}

{% block content %}
<h2>Список рецептов</h2>
<form method="GET" action="">
    <div class="mb-3">
        <input type="text" name="search" class="form-control" placeholder="Search by ingredient">
    </div>
    <button type="submit" class="btn btn-primary">Поиск</button>
</form>
<ul class="list-group mt-3">
    {% for recipe in recipes %}
    <li class="list-group-item">
        <h5>{{ recipe.title }}</h5>
        <p><strong>Сложность:</strong> {{ recipe.difficulty }}/10</p>
        <p><strong>Ингридиенты:</strong> {{ recipe.ingredients }}</p>
        <p><strong>Теги:</strong> {{ recipe.tags }}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}
