{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="mb-4">{{ recipe.title }}</h1>
    <p><strong>Сложность (1-10):</strong> {{ recipe.complexity }}</p>
    <p><strong>Оценка вкуса (1-10):</strong> {{ recipe.taste }}</p>
    <p><strong>Ингридиенты:</strong> {{ recipe.ingredients }}</p>
    <p><strong>Инструкция:</strong> {{ recipe.instructions }}</p>
    <a class="btn btn-secondary" href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}">Изменить рецепт</a>
</div>
{% endblock %}
